
<div class="row">
  <div class="small-8 small-centered columns">
    <h1 class="al-c">Enter PLU</h1>
  </div>
</div>

<div class="row">
  <div class="small-4 small-centered columns">
    <div class="row collapse">
      <div class="small-9 columns">
        <input type="text" placeholder="Price Lookup Code">
      </div>
      <div class="small-3 columns">
        <a href="#" class="button prefix">Submit</a>
      </div>
    </div>
  </div>
</div>